{{- define "main" -}}

{{ partial "page_header.html" . }}

<div class="universal-wrapper">
  <div class="row">
    <div class="col-lg-12">

      {{ with .Content }}
      <div class="article-style" itemprop="articleBody">{{ . }}</div>
      {{ end }}
      
      <div>
        <p>* For Equal Contribution</p>
      </div>

      {{/* Array of distinct years. */}}
      {{ range .Pages.ByDate.Reverse }}
        {{ $year := print (.Date.Format "2006") }}
        {{ $.Scratch.SetInMap "years" $year $year }}
      {{ end }}

      <div class="form-row mb-4">
        <div class="col-auto">
          <input type="search" class="filter-search" placeholder="{{ i18n "search_placeholder" }}" autocapitalize="off"
          autocomplete="off" autocorrect="off" role="textbox" spellcheck="false">
        </div>
        <div class="col-auto">
          <select class="pub-filters pubtopic-select form-control form-control-sm" data-filter-group="pubtopic" id="pub-topic-filter">
            <!-- <p>{{ site.Taxonomies.publication_topics }}</p> -->
            <!-- {{ range $topic := site.Data.publication_topics.topics }}
              <p>{{ $topic }}</p>
            {{ end }} -->
            <option value="*">{{ i18n "publication_topic" }}</option>
            {{ $pub_topics := partial "functions/get_pub_topics" $ }}
            {{ range $index, $taxonomy := site.Taxonomies.publication_topics }}
            <option value=".pubtopic-{{ (int $index) }}">
              {{ index $pub_topics (int $index) }}
            </option>
            {{ end }}
          </select>
        </div>
        <div class="col-auto">
          <select class="pub-filters pubtype-select form-control form-control-sm" data-filter-group="pubtype">
            <option value="*">{{ i18n "publication_type" }}</option>
            {{ $pub_types := partial "functions/get_pub_types" $ }}
            {{ range $index, $taxonomy := site.Taxonomies.publication_types }}
            <option value=".pubtype-{{ (int $index) }}">
              {{ index $pub_types (int $index) }}
            </option>
            {{ end }}
          </select>
        </div>
        <div class="col-auto">
          <select class="pub-filters form-control form-control-sm" data-filter-group="year">
            <option value="*">{{ i18n "date" }}</option>
            {{ $years_sorted := $.Scratch.GetSortedMapValues "years" }}
            {{ if $years_sorted }}
            {{ range $year := sort $years_sorted "" "desc" }}
            <option value=".year-{{ $year }}">
              {{ $year }}
            </option>
            {{ end }}
            {{ end }}
          </select>
        </div>
      </div>

      <div id="container-publications">
        {{ range .Pages.ByDate.Reverse }}
        
        {{ if .Params.publication_topics }}
          {{ $.Scratch.Set "pubtopic" (index .Params.publication_topics 0) }}
        {{ else }}
          {{ $.Scratch.Set "pubtopic" 0 }}
        {{ end }}

        {{ if .Params.publication_types }}
          {{ $.Scratch.Set "pubtype" (index .Params.publication_types 0) }}
        {{ else }}
          {{ $.Scratch.Set "pubtype" 0 }}
        {{ end }}

        <div class="grid-sizer col-lg-12 isotope-item pubtopic-{{ $.Scratch.Get "pubtopic" }} pubtype-{{ $.Scratch.Get "pubtype" }} year-{{ .Date.Format "2006" }}">
          {{ if eq $.Params.view 1 }}
            {{ partial "li_list" . }}
          {{ else if eq $.Params.view 3 }}
            {{ partial "li_card" . }}
          {{ else if eq $.Params.view 4 }}
            {{ partial "li_citation" . }}
          {{ else }}
            {{ partial "li_compact" . }}
          {{ end }}
        </div>

        {{ end }}
      </div>

    </div>
  </div>
</div>

<script>
  // Function to get URL parameters
  function getUrlParameter(name) {
    name = name.replace(/[[]/, '\\[').replace(/[\]]/, '\\]');
    var regex = new RegExp('[\\?&]' + name + '=([^&#]*)');
    var results = regex.exec(location.search);
    return results === null ? '' : decodeURIComponent(results[1].replace(/\+/g, ' '));
  };

  function filterPublicationList() {
    var selectedOption = document.getElementById('pub-topic-filter').value;
    selectedOption = selectedOption.substring(1);
    var publications = document.querySelectorAll('.grid-sizer');
    
    publications.forEach(function(publication) {
      if (!publication.classList.contains(selectedOption)) {
        publication.style.display = 'none';
      }
    });
  }

  // Function to set selected option based on URL parameter
  function setSelectedOption() {
    var filterValue = getUrlParameter('filtertopic');
    var selectElement = document.getElementById('pub-topic-filter');
    if (filterValue) {
      selectElement.value = filterValue;
      filterPublicationList();
    }
  }

  // Call the function when the page loads
  window.onload = setSelectedOption;
</script>

{{- end -}}
