[submodule "public"]
	path = public
	url = https://github.com/yunmingxiao/yunmingxiao.github.io.git
	branch = master
[submodule "public/public"]
	path = public/public
	url = https://github.com/yunmingxiao/yunmingxiao.github.io.git
	branch = master
